<div class="w-full h-full flex items-center justify-end p-5 bg-dental-clinic">
  <div class="h-full flex-1 hidden md:flex"></div>
  
  <div class="bg-white w-full h-full flex flex-col justify-center items-center gap-2 md:w-1/2 lg:w-5/12 2xl:w-3/12 p-12  rounded-2xl shadow-2xl">

    <div class="flex flex-col items-center gap-3 mb-2">
      <%= render "ui/logo" %>

      <% message ||= nil %>
      <% if message %>
        <p class="text-zinc-600"><%= message %></p>
      <% end %>
    </div>

    <%= yield %>
  </div>
</div>