<% question ||= "Don't have an account?" %>

<footer class="mt-10 text-center">
  <p class="text-sm">
    <%= question %>
    <%= link_to "Contact support", "#", class: "font-medium text-blue-500 text-sm" %>
  </p>
</footer>