<% 
  links = [
    { path: "#", text: "Dashboard" },
    { path: "#", text: "Calendar" },
    { path: "#", text: "Patients" },
    { path: "#", text: "Billing" },
    { path: "#", text: "Reports" },
    { path: support_index_path, text: "Support" },
  ] 
%>

<header class="w-full px-4 md:px-8 py-4 border-b border-zinc-200 flex items-center justify-between bg-white">
  <%= render "ui/logo" %>

  <nav>
    <ul class="hidden md:flex items-center gap-5">
      <% links.each do |item| %>
        <% color = request.path == item[:path] ? "text-blue-500" : "text-black/70" %>
        <li><%= link_to item[:text], item[:path], class: "font-semibold text-sm #{color}" %></li>
      <% end %>

    </ul>
  </nav>

  <div class="font-semibold rounded-full bg-blue-50 h-11 w-11 flex items-center justify-center">
    <span class="text-blue-500 ">BR</span>
  </div>
</header>