<% size ||= "size-6" %>

<div class="flex items-center gap-2.5">
  <div class="rounded-full p-3 flex items-center justify-center bg-blue-100/70">
    <svg
      class="<%= size %> text-blue-500"
      fill="none"
      viewBox="0 0 48 48"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M6 6H42L36 24L42 42H6L12 24L6 6Z"
        fill="currentColor"
      ></path>
    </svg>
  </div>
  <h1 class="text-2xl font-medium tracking-tight text-black">DentalCare</h1>
</div>