/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 .bg-dental-clinic {
    background-image: url("https://images.unsplash.com/photo-1616391182219-e080b4d1043a?q=80&w=2938&auto=format&fit=crop");
    background-size: cover;
    background-position: center;
}

.field_with_errors {
    width: 100%;
    display: flex;
    flex-direction: column;
}